*.doctree
*.aux
*.log
*.gz
*.toc
*.pyc
Output.xml
.build
/build/
/docs/_build/
/docs/auto_*/
__pycache__/
/docs/ch*/*.pyc
docs/ch6/data/
*.csv
docs/sg_execution_times.rst
!docs/utils/data/AAPL-GOOGL-AMZN-01-06-2020-01-06-2022.csv 
doc/cryptoFigs/